build-NumericalCalulator-Desktop_Qt_5_11_0_MSVC2017_64bit-Debug/
NumericalCalulator/NumericalCalulator.pro.user.*
*.user
*.653579c
*.653579c
*.HM
*.obj
*.user
.vscode/
NumericalCalulator/NumericalCalulator.pro.user
*.user
